.box {
  background-color: #c5d1cf;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  flex: auto;
}

#opprettet {
  font-size: smaller;
  color: #555451;
}

#dato {
  font-size: smaller;
}
