.App {
  text-align: center;
  margin-top: 90px;
}

#activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#btnNewAct {
  font-weight: bolder;
  color: white;
  background-color: #f1599f;
  border-radius: 6px;

  border-width: 1px;
  width: 100px;
  height: 40px;
  position: fixed;
  left: 50px;
  margin-top: 20px;
}

#filter-container {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
}

#filterbox {
  margin: 20px;
  flex: 1;
}

#navbar {
  background-color: #06a68d;
  position: fixed;
  top: 0;
  width: 100%;
}

#user {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  padding: 10px;
  height: 30px;
}

#btnLogOut {
  font-weight: bolder;
  color: white;
  background-color: #452b80;
  border-radius: 6px;
  border-color: #344e41;
  border-width: 1px;
  position: fixed;
  right: 20px;
  top: 40px;
  cursor: pointer;
}

.text {
  color: white;
}

#username {
  position: fixed;
  top: 0;
  right: 20px;
}

#imgLogo {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

#act-log-btn {
  position: fixed;
  left: 80px;
  top: 20px;
  padding: 14px 28px;
  border: none;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: #ffffff;
}

#act-log-btn:hover {
  background: #344e41;
}
