.App {
  text-align: center;
  margin-top: 120px;
}

#activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#btnNewAct{
  font-weight: bolder;
  color:#344E41;
  background-color: #DAD7CD;
  border-radius: 6px;
  border-color: #344E41;
  border-width: 1px;
  width: 100px;
  height: 40px;
  position: fixed;
  left: 50px;
  margin-top: 20px;
}
